.idea/
*.class
**/target/
**/.terraform
**/.terraform.*
terraform.tfstate*

.npmrc
**/node_modules**/
*.tgz
demos/old*
labs
instance_list.csv
.config
build.yaml
docker.yaml
*.pem
log-rest.log

common/**/.jfrog**
.DS_Store
