.idea/
*.class
**/target/
**/.terraform/**
**/.terraform.*
terraform.tfstate*
.npmrc
**/node_modules/
*.tgz
demos/old*
labs
*.tfvars
instance_list.csv
.config
build.yaml
docker.yaml
*.pem
log-rest.log
app.tar.gz
npm.yaml
maven.yaml
ssh_command.txt
setup/common/*
setup/common/java/.jfrog/projects/maven.yaml
setup/common/js/app.tar.gz
